/DataKeeper/build/
/UserCommand/build/
/CommandProcessor/build/
/TaskEditor/build/
/JChronic/build/
/FileOperator/build/
/TaskEditor_backup/nbproject/private/
/TaskEditor/nbproject/private/
/TopComponet/build/
/TopComponet/nbproject/private/
/org-netbeans-libs-junit/nbproject/private/